# EDA

## Start

In [1]:
import pandas as pd
import numpy as np

## Dataset

In [2]:
df = pd.read_csv("true_car_listings.csv")
df

,Price,Year,Mileage,City,State,Vin,Make,Model
0,8995,2014,35725,El Paso,TX,19VDE2E53EE000083,Acura,ILX6-Speed
1,10888,2013,19606,Long Island City,NY,19VDE1F52DE012636,Acura,ILX5-Speed
2,8995,2013,48851,El Paso,TX,19VDE2E52DE000025,Acura,ILX6-Speed
3,10999,2014,39922,Windsor,CO,19VDE1F71EE003817,Acura,ILX5-Speed
4,14799,2016,22142,Lindon,UT,19UDE2F32GA001284,Acura,ILXAutomatic
...,...,...,...,...,...,...,...,...
852117,63215,2017,9,Culver City,CA,YV1A22MK9H1013237,Volvo,S90T6
852118,72260,2017,3201,Englewood,NJ,YV4A22PL3H1186162,Volvo,XC90T6
852119,55999,2016,28941,Fort Collins,CO,YV4A22PL4G1000868,Volvo,XC90AWD
852120,60240,2017,3005,San Leandro,CA,YV4A22NLXH1006162,Volvo,V90
852121,76995,2017,2502,New York,NY,YV4BC0ZX1H1109845,Volvo,XC90T8

## Data_Desc

In [49]:
selected_columns = ['Price', 'Year', 'Mileage']
df[selected_columns].describe()

               Price           Year       Mileage
count  852122.000000  852122.000000  8.521220e+05
mean    21464.100210    2013.289145  5.250779e+04
std     13596.202241       3.414987  4.198896e+04
min      1500.000000    1997.000000  5.000000e+00
25%     13000.000000    2012.000000  2.383600e+04
50%     18500.000000    2014.000000  4.025600e+04
75%     26995.000000    2016.000000  7.218600e+04
max    499500.000000    2018.000000  2.856196e+06

In [3]:
df.dtypes

Price       int64
Year        int64
Mileage     int64
City       object
State      object
Vin        object
Make       object
Model      object
dtype: object

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852122 entries, 0 to 852121
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Price    852122 non-null  int64
 1   Year     852122 non-null  int64
 2   Mileage  852122 non-null  int64
 3   City     852122 non-null  object
 4   State    852122 non-null  object
 5   Vin      852122 non-null  object
 6   Make     852122 non-null  object
 7   Model    852122 non-null  object
dtypes: int64(3), object(5)
memory usage: 52.0+ MB

In [38]:
# Check for duplicates in the specified column
duplicates = df.duplicated(subset=['Vin'])

# Display rows where duplicates are True
duplicate_rows = df[duplicates]
duplicate_rows

,Price,Year,Mileage,City,State,Vin,Make,Model
120948,16288,2015,54545,Pensacola,FL,2G1FB1E32F9284364,Chevrolet,CamaroCoupe
120949,19995,2016,17604,Beaumont,TX,2G11Z5SA9G9130915,Chevrolet,ImpalaLS
120950,5774,2008,125675,Fort Wayne,IN,2G1WT58K781214125,Chevrolet,Impala4dr
120951,20990,2017,17219,Marshfield,MO,2G1105S30H9120402,Chevrolet,ImpalaLT
120952,22573,2016,622,Colorado Springs,CO,1GCNCNEC9GZ402232,Chevrolet,Silverado
120953,11495,2014,80086,Langhorne,PA,1G1JC6SH8E4194609,Chevrolet,SonicHatchback
120954,28800,2017,4165,Smyrna,GA,2GNFLGE38H6240856,Chevrolet,EquinoxAWD
120955,14771,2014,78400,New Haven,IN,1G1125S39EU113487,Chevrolet,Impala2LT
120956,15907,2015,65274,Corpus Christi,TX,2G1FB1E30F9190774,Chevrolet,CamaroCoupe
120957,12894,2014,57113,Delray Beach,FL,1G1RA6E44EU129757,Chevrolet,VoltPlug-In
120958,6990,2013,59960,Houston,TX,KL8CB6S9XDC531399,Chevrolet,SparkLS
120959,27988,2017,8692,Jackson,TN,2GNALDEK3H1546084,Chevrolet,EquinoxFWD
120960,9849,2014,42334,WACO,TX,KL8CD6S99EC501340,Chevrolet,Spark1LT
120961,17143,2010,23180,Surprise,AZ,1GCPKPEX0AZ237480,Chevrolet,Silverado
120962,20900,2015,20077,Decatur,AL,1GCNCPEH0FZ302445,Chevrolet,Silverado
121700,18997,2014,16584,Columbus,OH,1G11Y5SL5EU125232,Chevrolet,ImpalaLS
121861,19297,2014,13937,Lakewood,CO,1G11Y5SL0EU121654,Chevrolet,ImpalaLS
122937,12991,2011,89353,Olympia,WA,1GCNCPEA4BZ433469,Chevrolet,Silverado
123153,18797,2014,29526,Phoenix,AZ,2G1FA1E37E9293949,Chevrolet,CamaroCoupe
123722,19397,2014,24559,Fairfield,OH,2G11Y5SLXE9183558,Chevrolet,ImpalaLS
124033,14500,2010,66374,Albuquerque,NM,2G1FE1EVXA9224849,Chevrolet,Camaro2dr
124621,19097,2014,33544,Concord,NC,2G11Y5SL5E9201836,Chevrolet,ImpalaLS
124799,21995,2015,6712,Beaumont,TX,2G1FB1E32F9136442,Chevrolet,CamaroCoupe
129052,12500,2010,105000,El Cajon,CA,2G1FB1EV2A9127699,Chevrolet,Camaro2dr
131998,16900,2015,40533,Seattle,WA,1G1PC5SB7F7269381,Chevrolet,Cruze1LT
133550,14224,2017,45556,Temple Hills,MD,1G1BE5SM6H7103748,Chevrolet,CruzeSedan
134567,12488,2016,9315,Irving,TX,KL8CB6SAXGC571402,Chevrolet,SparkLS
141563,19197,2014,16364,Round Rock,TX,2G11Y5SL4E9113294,Chevrolet,ImpalaLS
142268,19997,2014,9414,Petersburg,VA,2G11Y5SL9E9265460,Chevrolet,ImpalaLS
152610,20297,2014,10043,Norfolk,VA,1G11Y5SLXEU108457,Chevrolet,ImpalaLS
174640,42890,2016,34449,Blair,NE,1GNSCBKC1GR183490,Chevrolet,Tahoe2WD
186430,99999,2012,48618,Morrow,GA,1G1ZB5E09CF258888,Chevrolet,MalibuLS
252342,14929,2016,32175,Corpus Christi,TX,1FMCU0F75GUA44645,Ford,EscapeFWD
252343,16515,2016,45175,Show Low,AZ,3FA6P0H93GR316968,Ford,FusionSE
252344,13752,2016,16674,Myrtle Beach,SC,3FADP4BJ5GM148345,Ford,FiestaSedan
252345,14650,2014,50450,Rockwood,TN,3FA6P0HD1ER204199,Ford,FusionSE
252347,14499,2016,21108,West Palm Beach,FL,1FMCU0GX9GUA19732,Ford,EscapeFWD
252348,16767,2017,9899,Hanford,CA,1FADP3K2XHL216581,Ford,FocusSE
252349,12700,2014,24840,Bedford,IN,1FADP3F2XEL437586,Ford,FocusSedan
252351,12497,2014,28096,Wallace,NC,1FADP3K25EL443656,Ford,FocusHatchback
252354,8490,2013,57933,Laurel,MD,1FADP3F24DL182433,Ford,FocusSedan
252355,13640,2013,44231,Lakewood,CO,3FA6P0G72DR373223,Ford,FusionS
252356,7999,2013,60211,Gower,MO,3FADP4EJ5DM144447,Ford,FiestaHatchback
252357,7999,2014,72450,Dallas,TX,1FADP3E24EL218186,Ford,FocusSedan
252358,13588,2016,22345,Madison,TN,1FADP3F24GL320976,Ford,FocusSedan
252359,13902,2016,30364,Manvel,TX,1FADP3F21GL319896,Ford,FocusSedan
252360,18990,2017,17887,Houston,TX,3FA6P0LU4HR258592,Ford,FusionHybrid

In [39]:
num_duplicates = duplicates.sum()
print("Number of duplicates in column '{}': {}".format(column_to_check, num_duplicates))

Number of duplicates in column 'Vin': 47

In [50]:
# Check for duplicates in the specified column
duplicates = df.duplicated(keep=False)

# Display rows where duplicates are True
duplicate_rows = df[duplicates]
duplicate_rows = df[duplicates].sort_values('Vin').reset_index(drop=True)
duplicate_rows

,Price,Year,Mileage,City,State,Vin,Make,Model
0,7999,2014,72450,Dallas,TX,1FADP3E24EL218186,Ford,FocusSedan
1,7999,2014,72450,Dallas,TX,1FADP3E24EL218186,Ford,FocusSedan
2,13902,2016,30364,Manvel,TX,1FADP3F21GL319896,Ford,FocusSedan
3,13902,2016,30364,Manvel,TX,1FADP3F21GL319896,Ford,FocusSedan
4,8490,2013,57933,Laurel,MD,1FADP3F24DL182433,Ford,FocusSedan
5,8490,2013,57933,Laurel,MD,1FADP3F24DL182433,Ford,FocusSedan
6,13588,2016,22345,Madison,TN,1FADP3F24GL320976,Ford,FocusSedan
7,13588,2016,22345,Madison,TN,1FADP3F24GL320976,Ford,FocusSedan
8,12700,2014,24840,Bedford,IN,1FADP3F2XEL437586,Ford,FocusSedan
9,12700,2014,24840,Bedford,IN,1FADP3F2XEL437586,Ford,FocusSedan
10,12497,2014,28096,Wallace,NC,1FADP3K25EL443656,Ford,FocusHatchback
11,12497,2014,28096,Wallace,NC,1FADP3K25EL443656,Ford,FocusHatchback
12,16767,2017,9899,Hanford,CA,1FADP3K2XHL216581,Ford,FocusSE
13,16767,2017,9899,Hanford,CA,1FADP3K2XHL216581,Ford,FocusSE
14,14929,2016,32175,Corpus Christi,TX,1FMCU0F75GUA44645,Ford,EscapeFWD
15,14929,2016,32175,Corpus Christi,TX,1FMCU0F75GUA44645,Ford,EscapeFWD
16,14499,2016,21108,West Palm Beach,FL,1FMCU0GX9GUA19732,Ford,EscapeFWD
17,14499,2016,21108,West Palm Beach,FL,1FMCU0GX9GUA19732,Ford,EscapeFWD
18,14771,2014,78400,New Haven,IN,1G1125S39EU113487,Chevrolet,Impala2LT
19,14771,2014,78400,New Haven,IN,1G1125S39EU113487,Chevrolet,Impala2LT
20,11495,2014,80086,Langhorne,PA,1G1JC6SH8E4194609,Chevrolet,SonicHatchback
21,11495,2014,80086,Langhorne,PA,1G1JC6SH8E4194609,Chevrolet,SonicHatchback
22,12894,2014,57113,Delray Beach,FL,1G1RA6E44EU129757,Chevrolet,VoltPlug-In
23,12894,2014,57113,Delray Beach,FL,1G1RA6E44EU129757,Chevrolet,VoltPlug-In
24,22573,2016,622,Colorado Springs,CO,1GCNCNEC9GZ402232,Chevrolet,Silverado
25,22573,2016,622,Colorado Springs,CO,1GCNCNEC9GZ402232,Chevrolet,Silverado
26,20900,2015,20077,Decatur,AL,1GCNCPEH0FZ302445,Chevrolet,Silverado
27,20900,2015,20077,Decatur,AL,1GCNCPEH0FZ302445,Chevrolet,Silverado
28,17143,2010,23180,Surprise,AZ,1GCPKPEX0AZ237480,Chevrolet,Silverado
29,17143,2010,23180,Surprise,AZ,1GCPKPEX0AZ237480,Chevrolet,Silverado
30,20990,2017,17219,Marshfield,MO,2G1105S30H9120402,Chevrolet,ImpalaLT
31,20990,2017,17219,Marshfield,MO,2G1105S30H9120402,Chevrolet,ImpalaLT
32,19995,2016,17604,Beaumont,TX,2G11Z5SA9G9130915,Chevrolet,ImpalaLS
33,19995,2016,17604,Beaumont,TX,2G11Z5SA9G9130915,Chevrolet,ImpalaLS
34,15907,2015,65274,Corpus Christi,TX,2G1FB1E30F9190774,Chevrolet,CamaroCoupe
35,15907,2015,65274,Corpus Christi,TX,2G1FB1E30F9190774,Chevrolet,CamaroCoupe
36,16288,2015,54545,Pensacola,FL,2G1FB1E32F9284364,Chevrolet,CamaroCoupe
37,16288,2015,54545,Pensacola,FL,2G1FB1E32F9284364,Chevrolet,CamaroCoupe
38,5774,2008,125675,Fort Wayne,IN,2G1WT58K781214125,Chevrolet,Impala4dr
39,5774,2008,125675,Fort Wayne,IN,2G1WT58K781214125,Chevrolet,Impala4dr
40,27988,2017,8692,Jackson,TN,2GNALDEK3H1546084,Chevrolet,EquinoxFWD
41,27988,2017,8692,Jackson,TN,2GNALDEK3H1546084,Chevrolet,EquinoxFWD
42,28800,2017,4165,Smyrna,GA,2GNFLGE38H6240856,Chevrolet,EquinoxAWD
43,28800,2017,4165,Smyrna,GA,2GNFLGE38H6240856,Chevrolet,EquinoxAWD
44,13640,2013,44231,Lakewood,CO,3FA6P0G72DR373223,Ford,FusionS
45,13640,2013,44231,Lakewood,CO,3FA6P0G72DR373223,Ford,FusionS
46,16515,2016,45175,Show Low,AZ,3FA6P0H93GR316968,Ford,FusionSE
47,16515,2016,45175,Show Low,AZ,3FA6P0H93GR316968,Ford,FusionSE
48,14650,2014,50450,Rockwood,TN,3FA6P0HD1ER204199,Ford,FusionSE
49,14650,2014,50450,Rockwood,TN,3FA6P0HD1ER204199,Ford,FusionSE
50,18990,2017,17887,Houston,TX,3FA6P0LU4HR258592,Ford,FusionHybrid
51,18990,2017,17887,Houston,TX,3FA6P0LU4HR258592,Ford,FusionHybrid
52,13752,2016,16674,Myrtle Beach,SC,3FADP4BJ5GM148345,Ford,FiestaSedan
53,13752,2016,16674,Myrtle Beach,SC,3FADP4BJ5GM148345,Ford,FiestaSedan
54,7999,2013,60211,Gower,MO,3FADP4EJ5DM144447,Ford,FiestaHatchback
55,7999,2013,60211,Gower,MO,3FADP4EJ5DM144447,Ford,FiestaHatchback
56,6990,2013,59960,Houston,TX,KL8CB6S9XDC531399,Chevrolet,SparkLS
57,6990,2013,59960,Houston,TX,KL8CB6S9XDC531399,Chevrolet,SparkLS
58,9849,2014,42334,WACO,TX,KL8CD6S99EC501340,Chevrolet,Spark1LT
59,9849,2014,42334,WACO,TX,KL8CD6S99EC501340,Chevrolet,Spark1LT

In [5]:
# Count city, state, make, model

city_val = df['City'].nunique()
state_val = df['State'].nunique()
make_val = df['Make'].nunique()
model_val = df['Model'].nunique()

print("City: ", city_val)
print("State: ", state_val)
print("Make: ", make_val)
print("Model: ", model_val)

City:  2553
State:  59
Make:  58
Model:  2736

In [20]:
# Display each unique value per coloumn
city_val = df['City'].unique()
state_val = df['State'].unique()
make_val = df['Make'].unique()
model_val = df['Model'].unique()

pd.set_option('display.max_rows', None)

print("City: ", city_val)
print("State: ", state_val)
print("Make: ", make_val)
print("Model: ", model_val)

City:  ['El Paso' 'Long Island City' 'Windsor' ... 'Winslow' 'Bergenfield'
 'Belmont']
State:  [' TX' ' NY' ' CO' ' UT' ' FL' ' CT' ' ID' ' ND' ' CA' ' NJ' ' OH' ' VA'
 ' IN' ' AZ' ' OR' ' KS' ' NE' ' MA' ' MD' ' GA' ' MN' ' HI' ' LA' ' NM'
 ' IL' ' AL' ' PA' ' SC' ' NC' ' WA' ' WI' ' OK' ' KY' ' MS' ' MO' ' ME'
 ' AR' ' MI' ' NV' ' TN' ' Fl' ' NH' ' DE' ' WV' ' Az' ' VT' ' SD' ' IA'
 ' RI' ' ga' ' Oh' ' MT' ' DC' ' AK' ' Va' ' WY' ' Md' ' Ca' ' Ga']
Make:  ['Acura' 'Alfa' 'AM' 'Aston' 'Audi' 'Bentley' 'BMW' 'Buick' 'Cadillac'
 'Chevrolet' 'Chrysler' 'Dodge' 'Ferrari' 'FIAT' 'Fisker' 'Ford'
 'Freightliner' 'Genesis' 'Geo' 'GMC' 'Honda' 'HUMMER' 'Hyundai'
 'INFINITI' 'Isuzu' 'Jaguar' 'Jeep' 'Kia' 'Lamborghini' 'Land' 'Lexus'
 'Lincoln' 'Lotus' 'Maserati' 'Maybach' 'Mazda' 'McLaren' 'Mercedes-Benz'
 'Mercury' 'MINI' 'Mitsubishi' 'Nissan' 'Oldsmobile' 'Plymouth' 'Pontiac'
 'Porsche' 'Ram' 'Rolls-Royce' 'Saab' 'Saturn' 'Scion' 'smart' 'Subaru'
 'Suzuki' 'Tesla' 'Toyota' 'Volkswagen' 'Volvo']
Model:  ['ILX6-Speed' 'ILX5-Speed' 'ILXAutomatic' ... 'V90' 'XC90T8' 'V60Polestar']

## Save output

In [24]:
# Write unique values to a text file
with open('city_val.txt', 'w') as file:
    for city in city_val:
        file.write(f"{city}\n")

# Display the path to the written file 
print(f"Unique values written to: city_val.txt")

Unique values written to: city_val.txt

In [25]:
# Write unique values to a text file
with open('state_val.txt', 'w') as file:
    for state in state_val:
        file.write(f"{state}\n")

# Display the path to the written file
print(f"Unique values written to: state_val.txt")

Unique values written to: state_val.txt

In [26]:
# Write unique values to a text file
with open('make_val.txt', 'w') as file:
    for make in make_val:
        file.write(f"{make}\n")

# Display the path to the written file
print(f"Unique values written to: make_val.txt")

Unique values written to: make_val.txt

In [27]:
# Write unique values to a text file
with open('model_val.txt', 'w') as file:
    for model in model_val:
        file.write(f"{model}\n")

# Display the path to the written file
print(f"Unique values written to: model_val.txt")

Unique values written to: model_val.txt

## Re-analysis

In [34]:
selected_columns = ['Price', 'Year', 'Mileage']
df[selected_columns].describe()

               Price           Year       Mileage
count  852122.000000  852122.000000  8.521220e+05
mean    21464.100210    2013.289145  5.250779e+04
std     13596.202241       3.414987  4.198896e+04
min      1500.000000    1997.000000  5.000000e+00
25%     13000.000000    2012.000000  2.383600e+04
50%     18500.000000    2014.000000  4.025600e+04
75%     26995.000000    2016.000000  7.218600e+04
max    499500.000000    2018.000000  2.856196e+06

In [43]:
# Count city, state, make, model

city_val = df['City'].nunique()
state_val = df['State'].nunique()
make_val = df['Make'].nunique()
model_val = df['Model'].nunique()

print("City: ", city_val)
print("State: ", state_val)
print("Make: ", make_val)
print("Model: ", model_val)

City:  2408
State:  51
Make:  58
Model:  2699

In [44]:
# Value in each city, state, make, model

city_val = df['City'].unique()
state_val = df['State'].unique()
make_val = df['Make'].unique()
model_val = df['Model'].unique()

print("City: ", city_val)
print("State: ", state_val)
print("Make: ", make_val)
print("Model: ", model_val)

City:  ['el paso' 'long island city' 'windsor' ... 'winslow' 'bergenfield'
 'belmont']
State:  [' TX' ' NY' ' CO' ' UT' ' FL' ' CT' ' ID' ' ND' ' CA' ' NJ' ' OH' ' VA'
 ' IN' ' AZ' ' OR' ' KS' ' NE' ' MA' ' MD' ' GA' ' MN' ' HI' ' LA' ' NM'
 ' IL' ' AL' ' PA' ' SC' ' NC' ' WA' ' WI' ' OK' ' KY' ' MS' ' MO' ' ME'
 ' AR' ' MI' ' NV' ' TN' ' NH' ' DE' ' WV' ' VT' ' SD' ' IA' ' RI' ' MT'
 ' DC' ' AK' ' WY']
Make:  ['acura' 'alfa' 'am' 'aston' 'audi' 'bentley' 'bmw' 'buick' 'cadillac'
 'chevrolet' 'chrysler' 'dodge' 'ferrari' 'fiat' 'fisker' 'ford'
 'freightliner' 'genesis' 'geo' 'gmc' 'honda' 'hummer' 'hyundai'
 'infiniti' 'isuzu' 'jaguar' 'jeep' 'kia' 'lamborghini' 'land' 'lexus'
 'lincoln' 'lotus' 'maserati' 'maybach' 'mazda' 'mclaren' 'mercedes-benz'
 'mercury' 'mini' 'mitsubishi' 'nissan' 'oldsmobile' 'plymouth' 'pontiac'
 'porsche' 'ram' 'rolls-royce' 'saab' 'saturn' 'scion' 'smart' 'subaru'
 'suzuki' 'tesla' 'toyota' 'volkswagen' 'volvo']
Model:  ['ilx6-speed' 'ilx5-speed' 'ilxautomatic' ... 'v90' 'xc90t8' 'v60polestar']

# EDA 2 - Post Cleaned

## Count Unique

In [62]:
# Count group by City-State
count_city_state = df.groupby('State')['City'].nunique().reset_index()
count_city_state = count_city_state.sort_values(by = 'City', ascending = False)
count_city_state

   State  City
4     CA   256
9     FL   166
43    TX   162
34    NY   153
14    IL   150
31    NJ   141
38    PA   127
27    NC   109
19    MA   105
10    GA   103
35    OH    97
22    MI    82
20    MD    72
45    VA    71
24    MO    68
42    TN    62
6     CT    59
47    WA    56
23    MN    56
15    IN    55
1     AL    53
48    WI    46
3     AZ    44
40    SC    43
44    UT    40
5     CO    38
37    OR    37
25    MS    36
17    KY    35
30    NH    32
36    OK    31
18    LA    30
16    KS    23
12    IA    21
21    ME    19
2     AR    18
13    ID    15
49    WV    15
32    NM    15
39    RI    14
46    VT    11
33    NV    10
26    MT    10
11    HI     9
8     DE     9
29    NE     9
50    WY     6
41    SD     6
28    ND     5
0     AK     4
7     DC     1

In [63]:
# Count group by Make-Model
count_make_model_nunqie = df.groupby('Make')['Model'].nunique().reset_index()
count_make_model_nunqie = count_make_model_nunqie.sort_values(by = 'Model', ascending = False)
count_make_model_nunqie

             Make  Model
9       chevrolet    196
37  mercedes-benz    169
55         toyota    157
15           ford    147
41         nissan    135
4            audi    113
11          dodge    113
57          volvo    106
56     volkswagen    102
23       infiniti     98
20          honda     88
27            kia     83
26           jeep     79
22        hyundai     75
7           buick     69
46            ram     69
8        cadillac     65
0           acura     64
6             bmw     63
40     mitsubishi     54
25         jaguar     53
35          mazda     52
31        lincoln     51
10       chrysler     48
45        porsche     46
52         subaru     43
19            gmc     43
49         saturn     30
50          scion     28
13           fiat     27
30          lexus     27
44        pontiac     22
53         suzuki     21
38        mercury     20
12        ferrari     19
33       maserati     18
48           saab     13
28    lamborghini     13
5         bentley     12
24          isuzu     11
42     oldsmobile     11
51          smart      8
21         hummer      8
47    rolls-royce      8
36        mclaren      6
39           mini      6
32          lotus      6
43       plymouth      5
17        genesis      4
54          tesla      3
34        maybach      3
14         fisker      2
3           aston      1
2              am      1
18            geo      1
1            alfa      1
16   freightliner      1
29           land      1

## Count Sales

In [54]:
# Count sales brand
count_make_model = df.groupby('Make')['Model'].count().reset_index()
count_make_model = count_make_model.sort_values(by = 'Model', ascending = False)
count_make_model

             Make   Model
15           ford  110432
9       chevrolet  102268
55         toyota   77786
41         nissan   66250
20          honda   50193
26           jeep   40373
22        hyundai   35837
11          dodge   34368
6             bmw   32415
19            gmc   29008
27            kia   28636
37  mercedes-benz   26323
56     volkswagen   23249
30          lexus   20641
46            ram   19808
52         subaru   16428
10       chrysler   16357
8        cadillac   15047
35          mazda   13365
4            audi   12618
7           buick   12491
23       infiniti   12258
0           acura   11049
31        lincoln    7120
57          volvo    5106
39           mini    4375
45        porsche    4106
29           land    4096
40     mitsubishi    4080
50          scion    3043
25         jaguar    2200
44        pontiac    1783
13           fiat    1782
38        mercury    1076
33       maserati    1047
49         saturn     963
21         hummer     949
51          smart     713
5         bentley     367
12        ferrari     345
53         suzuki     334
48           saab     260
54          tesla     231
3           aston     149
17        genesis     141
42     oldsmobile     122
28    lamborghini     121
47    rolls-royce      92
24          isuzu      76
43       plymouth      51
36        mclaren      47
1            alfa      44
32          lotus      42
14         fisker      19
2              am      19
16   freightliner      11
34        maybach      10
18            geo       2

In [53]:
# Count state - model
count_state_model = df.groupby('State')['Model'].count().reset_index()
count_state_model = count_state_model.sort_values(by = 'Model', ascending = False)
count_state_model

   State  Model
43    TX  94654
4     CA  80468
9     FL  73313
10    GA  39623
14    IL  38680
27    NC  37530
45    VA  35259
38    PA  28130
34    NY  27932
31    NJ  27852
35    OH  23311
47    WA  23149
5     CO  23004
3     AZ  22464
42    TN  19166
19    MA  17990
20    MD  17707
15    IN  16465
24    MO  16165
17    KY  13691
1     AL  13293
48    WI  11255
23    MN  10996
6     CT  10906
44    UT  10418
37    OR  10352
22    MI  10328
40    SC   9790
36    OK   9584
18    LA   8528
16    KS   7894
2     AR   6952
33    NV   6887
25    MS   6242
30    NH   5694
29    NE   4924
12    IA   4840
32    NM   4729
13    ID   3501
11    HI   2995
8     DE   2418
26    MT   1984
21    ME   1920
39    RI   1858
0     AK   1663
49    WV   1501
41    SD   1267
46    VT   1123
28    ND   1092
50    WY    610
7     DC     25

In [60]:
# Group by 'State' and 'Make', and count the sales
model_popularity1 = df.groupby(['State', 'Make']).size().reset_index(name='Count')

# Sort within each state by sales count in descending order
model_popularity2 = model_popularity1.sort_values(by=['State', 'Count'], ascending=[True, False])

# Get the most popular model for each state
popular_makes = model_popularity2.groupby('State').first()
popular_makes = popular_makes.sort_values('Count', ascending = False)

popular_makes

            Make  Count
State
 TX         ford  12625
 CA       toyota   9179
 FL         ford   7824
 NC         ford   5389
 IL         ford   4966
 GA    chevrolet   4834
 OH    chevrolet   3930
 VA         ford   3877
 WA         ford   3280
 PA    chevrolet   3239
 CO         ford   3167
 MO         ford   3021
 AZ         ford   3008
 TN         ford   2978
 NY    chevrolet   2937
 IN    chevrolet   2830
 NJ        honda   2669
 KY    chevrolet   2214
 WI         ford   2207
 MI    chevrolet   2195
 MA         ford   2148
 AL    chevrolet   2106
 MD         ford   1974
 UT         ford   1789
 MN         ford   1636
 OK    chevrolet   1621
 OR         ford   1570
 KS         ford   1380
 MS         ford   1347
 SC         ford   1341
 LA    chevrolet   1269
 CT         ford   1069
 IA    chevrolet   1042
 NE         ford    947
 AR    chevrolet    811
 NM         ford    782
 NH         ford    777
 NV    chevrolet    740
 ID         ford    665
 HI       nissan    484
 DE    chevrolet    399
 ME         ford    398
 MT         ford    391
 WV         ford    379
 AK         ford    365
 RI         ford    351
 SD    chevrolet    327
 ND         ford    250
 VT       toyota    175
 WY    chevrolet    127
 DC          bmw      5

In [ ]:
# Lower casing
df['State'] = df['State'].str.upper()
df['City'] = df['City'].str.lower()
df['Make'] = df['Make'].str.lower()
df['Model'] = df['Model'].str.lower()

df